<a href="https://colab.research.google.com/github/EdgarsZee/LearningPython/blob/main/List%2CTuple%2CDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = []
L = [11, 22, 33 ,77, 44]
L.append(3.14)
L.append("Hello")
L.insert(2, "Edibo")



#len(L)
L.append("Hello")

print(L)
#L.sort()

print(L)
#L.append("Hello")
L.reverse()
#print(L)
L.append(D)
print(L)

[11, 22, 'Edibo', 33, 77, 44, 3.14, 'Hello', 'Hello']
[11, 22, 'Edibo', 33, 77, 44, 3.14, 'Hello', 'Hello']
['Hello', 'Hello', 3.14, 44, 77, 33, 'Edibo', 22, 11, {'abols': 'apple', 'bumbieris': 'birne', ' pi': '3.14', 'e': 2.72, 'a': 'alpha', 'T': (33, 44, 33, 99, '64', 24, 33)}]

Tuple object

In [ ]:
T = (33,44,33,99,"64",24,33)
T.count(33)

z = 3+4j
print(type(z))
print(z)
print(T)

<class 'complex'>
(3+4j)
(33, 44, 33, 99, '64', 24, 33)

Dictionary - Dict

In [ ]:
D = {}
#      Key    Value
D = {'abols':'apple', 'bumbieris':'birne', ' pi':'3.14', 'e': 2.72}

print(D['abols'])
print(D['bumbieris'])
print(D[' pi'])
print(D['e'])

D.update({'a':'alpha'})
print(D)
D.update({'T': T })
print(D)

apple
birne
3.14
2.72
{'abols': 'apple', 'bumbieris': 'birne', ' pi': '3.14', 'e': 2.72, 'a': 'alpha'}
{'abols': 'apple', 'bumbieris': 'birne', ' pi': '3.14', 'e': 2.72, 'a': 'alpha', 'T': (33, 44, 33, 99, '64', 24, 33)}

Cikli.              

```
```

 i- iterÄ“jams objekts

In [ ]:
d = (25,37,99,3.14)
print(d)

for i in d:
  print(d)

while (False): 
  print("Hello")

(25, 37, 99, 3.14)
(25, 37, 99, 3.14)
(25, 37, 99, 3.14)
(25, 37, 99, 3.14)
(25, 37, 99, 3.14)

In [ ]:
s = "john@gmail.com"
t = s.split("@")
print(t)
print(type(t))
print(t[1])

['john', 'gmail.com']
<class 'list'>
gmail.com